body {
    margin: 0;
    padding: 0;
}
#main {
    position: relative;
}
.pic {
    padding: 15px 0 0 15px;
    float: left;
}
.box {
    padding: 10px;
    border: 1px solid #CCCCCC;
    box-shadow: 0 0 6px #ccc;
    border-radius: 5px;
}
.box img {
    width: 162px;
    height: auto;
}