/* 雷达图组件样式 */
.h5-component-radar {

}

.h5-component-radar canvas {
    position: absolute;
    left: 0;
    top: 0;  /* 用canvas做动画，会进行分层，要用到 z-index */
    width: 100%;
    height: 100%;
}

.h5-component-radar .text {
    position: absolute;
    font-size: 12px;
    transition: all 1s;
}
