/* 环图组件样式 */

.h5-component-ring {}

.h5-component-ring .mask {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 90;
    background-color: #fff;
    border-radius: 50%;
    -webkit-transform: scale(.8);
}

.h5-component-ring .text {
    width: 100%;
    top: 40%;
    opacity: 0;
}
